{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{ product.image.url  }}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{product.get_category_display}}</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">{{product.get_label_display}}</span>
            </a>
          </div>
          
        <div class="cart float-right">
          {%if product.cartitem_set.all%}
          <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-success btn-md my-0 p">
            Added To Cart
            <i class="fas fa-shopping-cart ml-1"></i>
          {% else %}
          <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-danger btn-md my-0 p">
            Add to Cart
            <i class="fas fa-shopping-cart ml-1"></i>
            {% endif %}

            {{message }}
          </a>
        </div>

       

          <p class="lead">

            <span class="mr-1">
              {% if product.discount_price %}
              <del>${{ product.price }}</del>
            </span>
            <span>${{product.discount_price}}</span>
            {% else %}
            <span>${{product.price}}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">{{product.title}}</p>

          <p>{{ product.description }}</p>
          </form>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>W


  </div>
</main>
{% endblock %}