{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img src="{{ product.image.url  }}" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{product.get_category_display}}</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">{{product.get_label_display}}</span>
            </a>
          </div>
          
        <div class="cart float-right">
          {{product.cartitem_set.all}}
          <button data-slug={{product.slug}} data-url='{% url "add_to_cart"  product.slug %}'  id="addButton" class="btn
          {%if product.cartitem_set.all%}
          
          btn-success 
          {% else %}
          btn-danger
          {% endif %}
          btn-md my-0 p">
          {%if product.cartitem_set.all%}
            Added To Cart
          {% else %}
          Add to Cart
          {% endif %}
            <i class="fas fa-shopping-cart ml-1"></i>
            {{message }}
        </button>
        </div>  

       
        
          <p class="lead">

            <span class="mr-1">
              {% if product.discount_price %}
              <del>${{ product.price }}</del>
            </span>
            <span>${{product.discount_price}}</span>
            {% else %}
            <span>${{product.price}}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">{{product.title}}</p>

          <p>{{ product.description }}</p>
          </form>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>W


  </div>
</main>

<script>

$(document).on('click', '#addButton', function () {
    const addButton =  $("#addButton")
    const url = addButton.attr("data-url");
    const slug = addButton.attr('data-slug');
    $.ajax({
      url:url,
      data:{
        slug:slug
      },
      success:function(response){
        console.log(response);
        if(response.isCartInTheProduct){
          addButton.html('Added to Cart <i class="fas fa-shopping-cart ml-1"></i>')
          addButton.removeClass().addClass("btn btn-success btn-md my-0 p")
        }else{
          addButton.html('Add to Cart <i class="fas fa-shopping-cart ml-1"></i>')
          addButton.removeClass().addClass("btn btn-danger btn-md my-0 p")

        }

      }
    })
});
 
</script>


<script></script>
{% endblock %}