/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #212529 !important;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  
}


.btn .fa-search{
  pointer-events: none;
}


.home-product-image{
  width:100px;
  height:100px;

/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
   object-fit:scale-down;

}


.card{
  border:none!important;
  
}

